.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  padding: 5rem;
  background: rgba(255, 255, 255, 0.486);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 1rem;
}

.container header {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.container .simpleForm {
  margin-top: 30px;
}

.simpleForm .inputBox {
  width: 100%;
  margin-top: 20px;
}

.simpleForm :where(input:not([type="checkbox"]), .selectSectors) {
  position: relative;
  width: 100%;
  outline: none;
  font-size: 1rem;
  margin-top: 8px;
  border: 2px solid rgba(247, 234, 47, 0.4);
  border-radius: 0.3rem;
  padding: 0 15px;
}

input:not([type="checkbox"]) {
  height: 3.5rem;
}

.inputBox input:focus {
  border-color: rgb(247, 234, 47);
}

.simpleForm .column {
  display: flex;
  column-gap: 15px;
}

.selectSectors select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
}

.simpleForm button {
  height: 3.5rem;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 30px;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(247, 234, 47, 0.6);
}

.simpleForm button:hover {
  background: rgb(247, 234, 47);
}

.termsCheckbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  height: 2rem;
  width: 100%;
}

input[type="checkbox"] {
  margin-right: 8px;
}

label {
  padding: 0.2rem;
  display: block;
  font-size: 16px;
  font-weight: 500;
}

.simpleFormSaved :where(input:not([type="checkbox"]), .selectSectors) {
  color: #000 !important;
  background-color: rgba(247, 234, 47, 0.7);
}

option:checked[disabled] {
  color: #000 !important;
}

option:not(:checked, [disabled]) {
  color: #000 !important;
}

@media screen and (max-width: 500px) {
  .simpleForm .column {
    flex-wrap: wrap;
  }
}

@media (prefers-color-scheme: dark) {
  .container {
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(195, 195, 195, 0.06);
  }

  .simpleForm :where(input:not([type="checkbox"]), .selectSectors) {
    background-color: #0e0c0c;
    color: #fff;
    border-color: rgba(35, 93, 119, 0.5);
  }

  .inputBox input:focus {
    border-color: rgb(35, 93, 119);
  }

  .simpleFormSaved :where(input:not([type="checkbox"]), .selectSectors) {
    color: #fff;
    background-color: rgba(35, 93, 119, 0.5);
  }

  option:checked[disabled] {
    color: rgb(35, 93, 119);
  }
  option[disabled] {
    color: #454545;
  }

  option:not(:checked, [disabled]) {
    color: #fff !important;
  }

  .simpleForm button {
    background: rgba(35, 93, 119, 0.5);
    color: #fff;
  }
  .simpleForm button:hover {
    background: rgb(35, 93, 119);
  }
}
